In [1]:
import pandas as pd

# # Read the .txt file
# input_file = 'household_power_consumption.txt'
# output_file = 'household_power_consumption.csv'

# # Load the data using pandas, specifying the delimiter as ';'
# df = pd.read_csv(input_file, delimiter=';')

# # Save the data to a .csv file
# df.to_csv(output_file, index=False)

# print(f"Data has been successfully converted and saved to {output_file}")

In [2]:
df = pd.read_csv('household_power_consumption.csv')
df

/var/folders/hb/pn_3c51d1fj1n2jntgjrxmpm0000gn/T/ipykernel_45682/4083062995.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.csv')

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

In [3]:
df.replace("?", pd.NA, inplace=True)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
numeric_columns = ['Global_active_power', 'Global_reactive_power', 'Voltage', 
                   'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049280 entries, 0 to 2049279
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   datetime64[ns]
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 140.7+ MB

In [6]:
df
#df.to_csv('cleaned_data_4yrs.csv',index=False)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2049275,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2049276,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2049277,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2049278,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2049279,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

## Active Power: 
- is the actual power which is really transferred to the load such as transformer, induction motors, generators etc and dissipated in the circuit.
- this is what we will use majorly, the actual consumed power

## Reactive Power:
- The powers that continuously bounce back and forth between source and load is known as reactive Power (Q). Power merely absorbed and returned in load due to its reactive properties is referred to as reactive power.

## Voltage:
- also known as potential difference, electric pressure, or electric tension is the difference in electric potential between two points.

## Intensity:
- power transferred per unit area, where the area is measured on the plane perpendicular to the direction of propagation of the energy.

## Metering & Sub metering:
- Metering refers to the process of measuring and billing utility consumption by a centralized entity, typically a utility company. A single meter is used to measure all units within a building or property.
- Submetering involves the use of individual meters to measure utility usage for each individual unit within a building or property. <-- We'll use this as well

In [7]:
df_2yrs = df[(df['Date'].dt.year == 2006) | (df['Date'].dt.year == 2007) | (df['Date'].dt.year == 2008)]
#df_2yrs.to_csv('2yrs_data.csv', index=False)